.card {
  border: 3px solid rgb(168, 198, 206);
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: block;
  background-color: rgb(207, 234, 241);
}

.card .card-img {
  max-width: 30%;
  height: auto;
  border-radius: 30%;
  border: 2px solid rgb(165, 188, 194);
  background-color: rgba(178, 255, 255, 0.801);
  margin-bottom: 1px;
}
.card .card-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  color: rgb(0, 195, 255);
}
.card .card-description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 2px;
  color: blueviolet;
}